
.main-container {
    background-color: #91d977;
    border-radius: 20px;
    transition: all .5s;
    box-shadow: 0px 0px 20px #555;
    max-width: 600px;
}

.form-input {
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    background-color: #117333;

}

.submit-button {
    background-color: #117333;
    
    
}
.form-submit{
    border-radius: 5px;
    padding: 2px;
}   

.file-input {
    border-radius: 10px;
    padding: 5px;
    background-color: #63c184;
}

/* HEADER COMPONENT */

.header-component-container {
    display: flex;
    background-color: #117333;
}

.header-component-container-h1 {
    color: #fff;
}

