
.header-component-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #aca4a486;
}

.header-component-container-div {
    width: 75%;
    display: block;
}

.header-component-container-h1 {
    display: inline-block;
    color: #000000;
    text-align: center;
    width: 75%;
}
.header-component-container-h2 {
    display: inline-block;
    color: #000000;
    text-align: center;
    width: 75%;
}

.header-component-container-img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    display: inline-block;
    margin: 0 auto;
}



@media (max-width: 400px) {
    .header-component-container-h1,
    .header-component-container-img {
        width: 110px; /* Ajusta el tamaño de la imagen para resoluciones menores a 400px */
    }
    .header-component-container-h2{
        display: none;
    }
    .step-circle {
        font-size: 1.5em; /* Tamaño reducido para resoluciones menores a 400px */
        padding: 2px 3px; /* Ajusta los valores de padding según tus necesidades */
        border-radius: 3px; /* Ajusta el valor de border-radius según tus necesidades */
      }
}

.banner-component-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #AEFDC4;
}

.banner-component-container-img {
    width: 1900px;
    height: 220px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    background-color: #AEFDC4;
    
}
.upload-component-container {
    background-color: #ccc;
    border-radius: 10px;
    transition: all .3s;
}

.upload-component-container:hover {
    box-shadow: #bbb 0px 0px 10px;
    background-color: #bbb;
}

.plan-generator-component-form {
    display: flex;
    flex-direction: column;
}

.plan-generator-component-form > input {
    margin: 5px;
}

.plan-download-component-container {
    background-color: #ccc;
    border-radius: 10px;
    transition: all .3s;
}
.plan-download-component-container:hover {
    box-shadow: #bbb 0px 0px 10px;
    background-color: #bbb;
}
.download-component-div {
    justify-content: space-evenly;
}
.loading-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
}
.loading-component-perrito-asu {
    width: 400px;
    border-radius: 50%;
    /* animation: loading-animation 3s infinite linear; */
}

@keyframes loading-animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(10deg);
    }
}