
.header-component-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #024059;
}

.header-component-container-div {
    width: 75%;
}

.header-component-container-h1 {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    width: 75%;
}
.header-component-container-h2 {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    width: 75%;
}

.header-component-container-img {
    width: 150px;
    aspect-ratio: 1 / 1;

    filter: invert(1);
    /* or to blue */
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.header-component-container-img-tecnm-logo {
    height: 150px;
    /*aspect-ratio: 1 / 1;*/
}


    /*background-color: #fff;*/
.upload-component-container {
    background-color: #ccc;
    border-radius: 10px;
    transition: all .3s;
}

.upload-component-container:hover {
    box-shadow: #bbb 0px 0px 10px;
    background-color: #bbb;
}

.plan-generator-component-form {
    display: flex;
    flex-direction: column;
}

.plan-generator-component-form > input {
    margin: 5px;
}

.plan-download-component-container {
    background-color: #ccc;
    border-radius: 10px;
    transition: all .3s;
}
.plan-download-component-container:hover {
    box-shadow: #bbb 0px 0px 10px;
    background-color: #bbb;
}
.download-component-div {
    justify-content: space-evenly;
}
.loading-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
}
.loading-component-perrito-asu {
    width: 400px;
    border-radius: 50%;
    /* animation: loading-animation 3s infinite linear; */
}

@keyframes loading-animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(10deg);
    }
}
